.header{
  display: flex;
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  margin-left: 1%;
  background-color: #FFFFFF;
}
.camera-icon{
  align-self: center;
  margin-left: -8%;
}
.camera-icon img{
  width: 50px;
}
.logo img{
  width: 40px;
  margin-left: 20px;
}
.instaclone{
  color:#006238;
  font-size: 40px;
  font-family: 'Poppins',sans-serif;
  font-weight: 300;
  margin-left: 5px;
  display:inline-block;
  text-align: center;
}
#instalogo{
  margin-bottom: -1%;
}